<div id="<%= dom_id seance %>">
  <p>
    <strong>Start time:</strong>
    <%= seance.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= seance.end_time %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= seance.price %>
  </p>

  <p>
    <strong>Hall:</strong>
    <%= seance.hall_id %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= seance.movie_id %>
  </p>

</div>
