<p style="color: green"><%= notice %></p>

<%= render @seance %>

<div>
  <%= link_to "Edit this seance", edit_seance_path(@seance) %> |
  <%= link_to "Back to seances", seances_path %>

  <%= button_to "Destroy this seance", @seance, method: :delete %>
</div>
