<h1 style="margin-left: 45%; margin-bottom: 2%;">Movies</h1>

<% if @current_user.present? %>
  <% if policy(Movie).new? %>
    <%= link_to "New movie", new_movie_path, class: "btn btn-outline-success"%>
  <% end %>

  <% if policy(Hall).index? %>
    <%= link_to "Check halls", halls_path, class: "btn btn-outline-secondary"%>
  <% end %>

  <% if policy(Discount).index? %>
    <%= link_to "Check discounts", discounts_path, class: "btn btn-outline-secondary"%>
  <% end %>
<% end %>

<div id="movies" style="margin-top: 1%;">
  <% @movies.each do |movie| %>
    <div class="border border-dark" style="float:left; margin-right: 2%; margin-bottom:2%; width: 31%;">
      <%= render movie %>
      <div style="margin-left: 2%;">
      <%= link_to "Check seances", movie, class: "btn btn-outline-primary" %>

      <% if @current_user.present? %>
        <% if policy(Movie).edit? %>
          <%= link_to "Edit", edit_movie_path(movie), class: "btn btn-outline-secondary" %> 
        <% end %>
        
        <% if policy(Movie).destroy? %>
          <%= button_to "Destroy", movie, method: :delete,
           form_class: "myButtonForm", class: "btn btn-outline-danger"  %>
        <% end %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>
