<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :seance_id %>

  <% if !current_user.present? %>
    <div>
      <%= form.label :email, style: "display: block" %>
      <%= form.text_field :email %>
    </div>
    <% end %>

  <p>
    <strong>Hall seats:</strong>
    <%= "1 to #{@capacity}" %>
  </p>

  <p>
    <strong>Seats taken:</strong>
    <%= @taken_seats %>
  </p>

  <div id="newSeat" style="margin-top: 1%;" class="btn" > + </div>

  <div id="seats">
    <div id="seat">
      <%= form.label :seats, style: "display: block" %>
      <%= form.number_field :seats, multiple: true%>
    </div>
  </div>

  <div style="margin-top: 1%">
    <% if !current_user.present? %>
      <%= form.submit "Make a reservation", formaction: create_as_guest_reservations_path, class: "btn btn-outline-success" %>
    <% elsif current_user.manager? %>
      <%= form.submit "Make a reservation", formaction: create_as_manager_reservations_path, class: "btn btn-outline-success" %>
    <%else%>
      <%= form.submit "Make a reservation", class: "btn btn-outline-success" %>
    <%end%>
  </div>
  
  <div>
    <%= link_to "Back to movies", movies_path, class: "btn btn-outline-secondary" %>
  </div>

  <div>
    <%= link_to "Back to reservations", reservations_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>

<script>
  var count = 1;
  document.getElementById("newSeat").onclick = function(){
    if (count < 10){
      document.getElementById("seats").appendChild(document.getElementById("seat").cloneNode(true));
      count++;
    }
  }
</script>
