<h1>Reservations</h1>

<%= form_with url: "/find_reservations_by_user", method: :get do |form| %>
  <%= form.label :email, "Search for:" %>
  <%= form.text_field :email %>
  <%= form.submit "Search" %>
<% end %>

<div id="reservations">
  <% @reservations.each do |reservation| %>
    <div class="border border-dark" style="margin-bottom:2%;">
      <%= render reservation %>
      <p>
        <%= link_to "Show this reservation", reservation, class: "btn btn-outline-primary" %>
      </p>
    </div>
  <% end %>
</div>
